<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="/layout.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/icon.png">
</head>
<body>
  <%- include('partials/navbar') %>
     
     <main class="add-form">
    <h1><%= title %></h1>
    <form action="/addBook" method="POST">
        <div class="box">
            <label>Title:</label>
            <input type="text" name="title" required>
        </div>
        <div class="box">
            <label>Author:</label>
            <input type="text" name="author" required>
        </div>
        <div class="box">
            <label>Genre:</label>
            <select name="genreId" required>
            <% genres.forEach(genre => { %>
                <option value="<%= genre.id %>"><%= genre.name %></option>
            <% }) %>
           </select>
        </div>
        <div class="box">
            <label>Description:</label>
           <textarea name="description"></textarea>
        </div>
        <div class="add-Btn">
          <button type="submit">Add Book</button>
        </div>
    </form>
     </main>
    <%- include('partials/footer') %>
</body>
</html>
