<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link href="/layout.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/icon.png">
</head>
<body>
    <%- include('partials/navbar') %>

 <main class="container">
  <h1><%= title %></h1>
  <ul class="authors-list">
    <% authors.forEach(author => { %>
      <li>
        <a href="/authors/<%= author.name %>"><%= author.name %></a>
      </li>
    <% }) %>
  </ul>
  <p><a href="/">back to books list</a></p>
 </main>

<%- include('partials/footer') %>
</body>
</html>