<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link href="/layout.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/icon.png">
</head>
<body>
  <%- include('partials/navbar') %>
  <main class="container">
    <h1><%=title%></h1>
    <% if (books.length>0) {%>
    <div class="list">
      <% books.forEach( book => {%>
        <div class="book">
        <h2><%=book.title%></h2>
        <p><u>Author</u> : <%=book.author%></p>
        <p><u>Genre</u> : <%=book.genre%></p>
        <p><u>Description</u> : <%=book.description%></p>
        <form action="/delete/<%=book.id%>" method="POST">
        <div class="buttons">
          <button type="submit" onclick="return confirm('Are you sure you want to delete this book?')">delete book</button>
          <a href="/update/<%= book.id %>"><button type="button">update book</button></a> 
        </div>
        </form>       
        </div>
        <hr>
        <%})%>
    </div>
   <%}%> 
  </main>
   <%- include('partials/footer') %>
</body>
</html>